.navbar{
    background-color: rgb(200, 207, 207);
    height: 60px;
    border-top: 5px solid #CC0000;
    justify-content: center;
}
.lg{
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family:Georgia;
    color: #CC0000;
}
.container {
    /* display: grid;
    place-items: center;    
    height: 100vh; */
    display: flex;
    justify-content: center;
    margin-top:40px ;    
}
.tieude{
    color: #CC0000;
    text-align: center;
}
.formregister{
    margin: 30px;
    border: 2px solid black;
    padding: 50px 60px;
    border-radius: 30px;
    background-color: #c9c9c962;
    
}
.btn-dangki{
    margin-top: 30px;
    text-align: center;
}
.btn-dangki>button{
    background-color: red;
    border: red;
}
.btn-dangki>button:hover{
    background-color: #CC0000;
}
.dieukhoan{
    text-decoration: none;
}
.mb-3{
    color: #CC0000;
    font-weight: 400;
}